// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
// SCSS Variables
$color-1: #1a1f3d;
$color-2: #3b4a8c;
$color-3: #587ebb;
$color-4: #87b8e8;
$color-5: #f1fcff; // 明るくした色

// SCSS Classes using variables
.color-1 {
    color: $color-1;
}
.color-2 {
    color: $color-2;
}
.color-3 {
    color: $color-3;
}
.color-4 {
    color: $color-4;
}
.color-5 {
    color: $color-5;
}


window.Bar {
    background: transparent;
    color: $color-1;
    font-weight: bold;
    font-family: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", monospace;

    >centerbox {
        background: $color-1;
        color: transparent;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 15px;
    }

    .onBackground {
        background: $color-2;
        color: $color-5;
        padding: 8px;
        margin: 3px;
        border-radius: 15px;
    }

    .icon {
        background: $color-2;
        color: $color-5;
        padding: 8px 16px 8px 11px;
        margin: 3px;
        border-radius: 23px;
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
}
