window.Bar {
    .main {
        background-color: #f0f0f0;
        padding: 6px;
        color: black;
        //backdrop-filter: blur(50px);
    }

    .icon {
        font-family: "JetBrainsMono NF", "JetBrainsMonoNL NF", emoji
    }
}

