window.Bar {
    .main {
        background-color: #f0f0f0;
        color: black;
        padding: 3px 10px;
        //backdrop-filter: blur(50px);
    }

    .icon {
        font-family: "JetBrainsMono NF", "JetBrainsMonoNL NF", emoji
    }

    .icon-label {
        font-size: 20px;
    }
}

